:root {
	font-family: "Book Antiqua", serif;
}

.boxdiv {
	border: 2px solid black;
}

::selection {
	background: black;
	color: yellow;
}

button {
	user-select: none;
	font-family: Book Antiqua, serif;
}

header {
	text-align: center;
}

input:invalid {
	outline-color: red;
}

label {
	font-size: 10pt;
	display: inline-block;
}

textarea, input{
	font-family: Book Antiqua, serif;
}

#center-box {
	width: 60%;
	height: 580px;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
}

#tab-bar {
	border-bottom: 2px solid black;
	flex-basis: 30px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.tab-button {
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background: none;
}

.tab-button:hover {
	background: yellow;
}

.tab-button.tab-active {
	color: white;
	background: black;
}

.tab-button.tab-active:hover {
	color: yellow;
}

.tab-content {
	padding: 5px;
	flex-basis: 100%;
	flex-grow: 1;
	display: flex;
}

#center-box p {
	margin:0;
}

#center-box h2 {
	margin:0;
	font-size: 14pt;
}

#center-box h3 {
	margin:0;
	font-size: 11pt;
	font-style: oblique;
}

#machines-panel {
	flex-grow:1;
	display:flex;
	flex-flow: row nowrap;
}

#machine-list-area {
	flex-basis: 240px;
	border-right: 2px solid black;
	display:flex;
	flex-flow: column nowrap;
}

#machine-list {
	flex-basis: 0;
	flex-grow:1;
	overflow-y: scroll;
}

#machine-list > button {
	width:100%;
	height:40px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	border-bottom: 1px solid silver;
	background: none;
}

#machine-list > button:hover {
	background: yellow;
}

#machine-list > button.machine-details-active {
	color: white;
	background: black;
}

#machine-list > button.machine-details-active:hover {
	color: yellow;
}

#machine-details-area {
	padding: 5px;
	flex-grow: 1;
}

#machine-details-area > h2 {
	border-bottom: 1px solid black;
}

#machine-details-description {
	display: block;
	border: none;
	resize: none;
	font-style: italic;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 80%;
	height: 80px;
	overflow: auto;
}

#machine-details-description:hover {
	background: #eef8ff;
}

#machine-details-description:focus {
	outline: none;
	background: #ddeeff;
}

#machine-details-area > button {
	
}

#build-view {
	
}

#tool-panel {
	flex-basis: 229px;
	flex-shrink: 0;
	margin-right: 5px;
	display: flex;
	flex-flow: column nowrap;
}

#machine-list-heading, #tool-heading {
	border-bottom: 2px solid black;
	margin: 0;
	text-align: center;
}

#tool-heading {
	flex-basis: 20px;
}

#tool-list {
	padding: 2px;
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	overflow-y: scroll;
}

.tool-button {
	width: 100px;
	height: 100px;
	background: white;
	border: 2px solid white;
	margin: 2px;
}

.tool-button:hover {
	border-color: yellow;
}

.tool-button:active {
	border-color: red;
}

.tool-button > img {
	display: block;
	margin: auto;
	user-select: none;
	max-width: 90%;
	max-height: 90%;
}

.tool-button.tool-active {
	background-color: #ddeeff;
}

#tool-button-tunnel-horizontal > img{
	transform: rotate(90deg);
}

#view-panel {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
	flex-basis: 480px;
	display: flex;
	flex-direction: column;
	
}

#control-bar {
	border-bottom: 2px solid black;
	flex-basis: 60px;
	padding: 5px;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	gap:5px;
	justify-content: space-evenly;
	overflow-x: clip;
}

#control-bar .separator {
	height: 100%;
	margin: 0;
	border-left: 1px solid gray;
}

#control-bar > div {
	padding-left: 10px;
}

#control-bar > div > h3 {
	position: relative;
	left: -10px;
	top: -2px;
}

#control-bar-file {
	flex-basis: 160px;
}

#control-bar-board {
	flex-basis: 110px;
}

#control-bar-simulate {
	flex-basis: 240px;
}

.control-input {
}

#circuit-area {
	overflow: auto;
	max-width: 100%;
	flex-basis: 0;
	flex-grow: 1;
	padding: 5px;
}

#circuit-board {
	border: 1px solid black;
	border-collapse: collapse;
}

#circuit-board td {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	overflow: clip;
	padding: 0;
}

canvas {
	display: block;
}

#scroll-info-indicator {
	position: absolute;
	left: 20px;
	top: 720px;
	opacity: 0;
	transition: top 1s, opacity 1s;
}

#scroll-info-indicator.up {
	top: 680px;
	opacity: 1;
}

@media screen and (max-width: 1323px) {
	#center-box {
		width: 70%;
	}
}

@media screen and (max-width: 1153px) {
	#center-box {
		width: 80%;
	}
}

@media screen and (max-width: 928px) {
	#tool-panel {
		flex-basis: 108px;
	}
}